.zero-width {
  width: 0 !important;
}

.zero-height {
  height: 0 !important;
}

.container {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  background-color: #eee;
  height: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #eee;
  height: 25px;
}

.v-middle {
  vertical-align: middle;
}