.login-form-container {
  .login-form {

    margin: auto;
  }
}

@media only screen and (min-width: 601px) {
  .login-form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &:before {
      content: '';
      display: block;
      flex-grow: 1;
    }

    .login-form {

      .content {
        padding: 48px 40px 36px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        border-radius: 8px;
        margin: 0 auto;
        display: block;
        flex-shrink: 0;
        width: 450px;

        .form-elements {
          margin: 10px auto;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      flex-grow: 1;
    }
  }
}